<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Inspector</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/myStyle.css">
  <link rel="icon" href="{{url_for('static', filename='image/favicon.ico')}}">
</head>

<body>
  <div class="container">
    {% include "header.html" %}
    <br>
    <div class="row ml-1">
      <div class="card-deck">
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">All Company Data</h5></div>
          <div class="card-body text-dark">
            <p>/api/v1.0/company</p>
            <p>All company data for all 171 companies in our database</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/company">/api/v1.0/company</a></small>
          </div>
        </div>
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">Single Company Data</h5></div>
          <div class="card-body text-dark">
            <p>/api/v1.0/company/ticker</p>
            <p>ticker: the company stock ticer</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/company/msft">/api/v1.0/company/msft</a></small>
          </div>
        </div>
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">Table Data for Landing Page</h5></div>
          <div class="card-body text-dark">
            <p>/api/v1.0/table</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/table">/api/v1.0/table</a></small>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row ml-1">
      <div class="card-deck">
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">All Price data for a Single Company</h5></div>
          <div class="card-body text-dark">
            <p class="card-text">/api/v1.0/price/ticker</p>
            <p>ticker: company stock ticker</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/price/msft">/api/v1.0/price/msft</a></small>
          </div>
        </div>
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">Price with Start Date</h5></div>
          <div class="card-body text-dark">
            <p class="card-text">/api/v1.0/price/ticker/startdate</p>
            <p>ticker: company stock ticker</p>
            <p>startdate: startdate such as 2016-01-01</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/price/msft/2016-01-01">/api/v1.0/price/msft/2016-01-01</a></small>
          </div>
        </div>
        <div class="card border-success">
          <div class="card-header"><h5 class="card-title">Price with Start Date and End Date</h5></div>
          <div class="card-body text-dark">
            <p class="card-text">/api/v1.0/price/ticker/startdate/enddate</p>
            <p>ticker: company stock ticker</p>
            <p>startdate: start date such as 2016-01-01</p>
            <p>enddate: end date such as 2019-05-25</p>
          </div>
          <div class="card-footer">
            <small><a href="/api/v1.0/price/msft/2016-01-01/2019-05-25">/api/v1.0/price/msft/2016-01-01/2019-05-25</a></small>
          </div>
        </div>


      </div>
    </div>
    {% include "footer.html" %}
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
</body>

</html>
