<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Inspector</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/myStyle.css">
  <link rel="icon" href="/static/image/favicon.ico">
</head>
<body>
  <div class="container">
    {% include "header.html" %}
    <div class="row">
      <div class="col-md-12">
        <div id="my-slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#my-slider" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url_for('static', filename='image/stocks.jpg')}}" class="d-block w-100" alt="misty">
              <div class="carousel-caption d-none d-md-block">
                <h3>Discover the fundamental information about our portfolio</h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
              <div class="col-md-3">
        
                <div class="card text-white bg-primary border-success mb-3">
                  <!-- stock ticker drop down menu -->
                  <div class="card-header">
                    <h5>Stock:</h5>
                    <select id="selTicker"></select>
                  </div>
        
                  <!-- Summary Panel -->
                  <div class="card-body">
                    <h3 class="card-title">Summary</h3>
                    <div id="summaryPanel" class="card-text"></div>
                  </div>
                
                </div>
              
              </div>
              
              <!-- Dividend Gauge -->
              <div class="col-md-4">
                <div id="gauge"></div>
              </div>

              <!-- Market Cap bar chart -->
              <div class="col-md-5">
                <div class="d-flex justify-content-center">  
                  <select name="barChoice" id="selBar">
                    <option value="marketCap">Market Capitalization</option>
                    <option value="dividendPct">Dividend Percent</option>
                    <option value="peRatio">Price Earnings Ratio</option>
                  </select>
                </div>
                <div id="bar"></div>
              </div>
              
              
            </div>
          </div>
            <br>
            </div>
          </div>
    </div>
    <br> 
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <!-- bubble chart -->
            <div class="row">
              <div class="col-md-12">
                <div id="bubble"></div>
              </div>
            </div>
            <br> 
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="/static/js/fundamental.js"></script>
</body>

</html>
