#mapid { 
    height: 180px; 
}


.jumbotron {
    background-image: url('../image/Picture.jpg');
    background-size: 100% 100%; 
}

body {
    background-color: rgb(235, 222, 205);
}

h3 {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card-body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
